[data-theme="light"],
:root:not([data-theme="dark"]) {
  --highlight: rgb(238, 185, 27);
  --highlight-dark: rgb(249, 191, 19);
  --highlight-2: #e6a0e3a0;
  --background: #a6c5a3;
  --grain-link: url(https://img.freepik.com/free-photo/black-abstract-texture-background_1373-500.jpg?w=1380&t=st=1701618383~exp=1701618983~hmac=c7eff484abf2e2789a2fc6087df897ddf0fb855d296072d386c76c08bb43f070);
}

.container {
  max-width: 650px;
}

a {
  color: var(--secondary);
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #fb8c00;
  --primary-hover: #f57c00;
  --primary-focus: rgba(251, 140, 0, 0.125);
  --primary-inverse: #fff;
}

/* Orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #fb8c00;
    --primary-hover: #ff9800;
    --primary-focus: rgba(251, 140, 0, 0.25);
    --primary-inverse: #fff;
  }
}

/* Orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #fb8c00;
  --primary-hover: #ff9800;
  --primary-focus: rgba(251, 140, 0, 0.25);
  --primary-inverse: #fff;
}

/* Orange (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

body {
  background-color: var(--background);
  padding-bottom: 2rem;
  scroll-behavior: smooth;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--background);
  padding: 1rem 2rem;
  font-weight: bold;
}

.header h1 {
  margin: 0;
}

.nav-item {
  padding-bottom: 4px;
  color: var(--secondary);
  font-weight: bold;
  border-bottom: 4px solid transparent;
  border-radius: 0;
}

.nav-item:hover:not([role="button"]) {
  border-color: var(--highlight-dark);
}

.gradient {
  margin-inline: auto;
  margin-bottom: 5rem;
  top: 50;
  width: 300px;
  aspect-ratio: 1 /1;
  border-radius: 999px;
  background: linear-gradient(150deg,
      var(--highlight) 15%,
      var(--highlight-2) 60%,
      #076463 100%),
    var(--grain-link);
  background-attachment: fixed;
  background-size: cover;
}

.gradient--small {
  width: 100px;
}

.gradient--card {
  background: linear-gradient(170deg,
      var(--highlight) 15%,
      var(--highlight-2) 60%,
      #076463 100%),
    var(--grain-link);
  background-attachment: fixed;
  background-size: cover;
}

.gradient--card * {
  color: white;
}

.button-group {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.button-group>button {
  background-color: rgb(0 0 0 / 0.05);
  border: none;
  color: var(--secondary);
  display: inline;
}

.button-group>button:not(.active):hover {
  background-color: rgb(0 0 0/0.3);
  color: var(--primary-inverse);
}

.button-group>.active {
  background-color: var(--primary);
  color: var(--primary-inverse);
}

.fieldset {
  border: solid var(--secondary) 0.5px;
  border-radius: var(--border-radius);
  padding: 0 0.75rem 0.75rem 0.75rem;
}

.fieldset--meals {
  display: grid;
  gap: 1rem;
}

.day-group {
  display: grid;
  gap: 0.1rem;
}

.day-group>label {
  padding: 0.1rem;
  border-radius: var(--border-radius);
}

.day-group>label:hover {
  background-color: rgb(0 0 0 / 0.05);
}

p {
  white-space: pre-line;
}