<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
  />
  <link rel="stylesheet" href="/styles.css" />
  <script src="/index.js" type="module"></script>
  <title>{{ pageTitle }}</title>
</head>