<!DOCTYPE html>
<html lang="de">
{{> head }}
<body data-theme="light">
  <header class="header">
    <nav>
      <ul>
        <li>
          <strong><a href="/">{{ pageTitle }}</a></strong>
        </li>
      </ul>
      <ul>
        <li><a class="nav-item" href="/en">In English</a></li>
        <li><a class="nav-item" href="/es">En Español</a></li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <h2>{{ introHeader }}</h2>
    <p>{{ introText }}</p>
    
    <form method="POST" action="/{{ language }}" class="js-form-participant">
      <fieldset class="fieldset" >
        <legend>{{ generalInformation }}</legend>

        <label for="name">
        {{ name }}*
        <input required type="text" id="name" name="name" />
        </label>
        <label for="email">
          {{ email }}*
          <input required type="email" name="email" id="email" />
        </label>
        <p>{{ signupTypeQuestion }}</p>
        <div class="button-group">
          <button type="button" class="js-button-speaker">{{ signupTypeSpeaker }}</button>
          <button type="button" class="js-button-participant active">{{ signupTypeParticipant }}</button>
        </div>

        <input class="js-signup-type" type="hidden"name='signupType' value="participant">
        <div class="js-form-speaker">
          <label for="talk-title">
            {{ talkTitle }}
            <input type="text" name="talkTitle" id="talk-title" />
          </label>
          <label for="talk-description">
            {{ talkDescription }}
            <textarea name="talkDescription" id="talk-description"></textarea>
          </label>
        </div>
      </fieldset>

    <fieldset class="fieldset fieldset--meals">
      <legend>{{ mealsHeader }}</legend>
      <span>{{ mealsIntroText }}</span>
      <div class="day-group">
        <b>{{ friday }}</b>
        <label for="friday-dinner"><input id='friday-dinner' name='fridayDinner'  type="checkbox">{{ dinner }}</label>
      </div>
      <div class="day-group">
        <b>{{ saturday }}</b>
        <label for="saturday-breakfast"><input id='saturday-breakfast' name='saturdayBreakfast' type="checkbox">{{ breakfast }}</label>
        <label for="saturday-lunch"><input id='saturday-lunch' name='saturdayLunch' type="checkbox">{{ lunch }}</label>
        <label for="saturday-dinner"><input id='saturday-dinner' name='saturdayDinner' type="checkbox">{{ dinner }}</label>

      </div>
      <div class="day-group">
        <b>{{ sunday }}</b>
        <label for="sunday-breakfast"><input id='sunday-breakfast' name='sundayBreakfast' type="checkbox">{{ breakfast }}</label>
        <label for="sunday-lunch"><input id='sunday-lunch' name='sundayLunch' type="checkbox">{{ lunch }}</label>
      </div>
      </fieldset>
      <fieldset class="fieldset">
        <legend>{{ glampingHeader }}</legend>
        <p>{{ glampingIntroText }}</p>
        <label for="friday-glamping"><input id='friday-glamping' name='fridayGlamping' type="checkbox">{{ glampingFriday }}</label>
        <label for="saturday-glamping"><input id='saturday-glamping' name='saturdayGlamping' type="checkbox">{{ glampingSaturday }}</label>
      </fieldset>
    </div>

      <button type="submit">{{ submit }}</button>
    </form>
  </main>
  <div class="gradient"></div>
</body>
</html>