<!DOCTYPE html>
<html lang="de">
  {{> head }}
  <body data-theme="light">
    <header class="header">
      <nav>
        <ul>
          <li>
            <strong><a href="/">{{ pageTitle }}</a></strong>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container-fluid">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Type</td>
            <td>Talk</td>
            <td>Meals</td>
            <td>Glamping</td>
          </tr>
        </thead>
        {{#signups}}
        <tr>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{signupType}}</td>
          <td>
            <strong>{{talkTitle}}</strong>
            <p>{{talkDescription}}</p>
          </td>
          <td>
            Fri: {{fridayDinner}}
            <br />
            Sat: {{saturdayBreakfast}}, {{saturdayLunch}}, {{saturdayDinner }}
            <br />
            Sun: {{ sundayBreakfast }}, {{ sundayLunch }}
          </td>
          <td>
            Fri: {{fridayGlamping}} <br />
            Sat: {{saturdayGlamping}}
          </td>
        </tr>
        {{/signups}}
      </table>
    </main>
    <div class="gradient"></div>
  </body>
</html>
