<!DOCTYPE html>
<html lang="en">
    {{> head }}
    <body data-theme="light">
        <header class="header">
            <nav>
                <ul>
                    <li><h1>{{ pageTitle }}</h1></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <h2>{{ title }}</h2>
            <p>
              {{ message }}
            </p>
        </main>
        <div class="gradient"></div>
    </body>
</html>